.DS_Store
/dist
/examples/*
!/examples/fonts
!/examples/.gitignore
!/examples/advanced.typ
!/examples/pres.typ
!/examples/prime-numbers.typ
!/examples/test.typ
!/examples/tutorial.typ
/node_modules
/docs.html
